05-support-client/workflow.json
{
  "name": "05 - Support Client - Triage et réponse automatique Gmail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-720, 300],
      "id": "b1c2d3e4-0001-4000-8000-000000000001",
      "name": "Toutes les 30 minutes"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 20,
        "filters": {
          "labelIds": ["INBOX", "UNREAD"]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-480, 300],
      "id": "b1c2d3e4-0002-4000-8000-000000000002",
      "name": "Chercher emails non lus",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant de classification d'emails pour une entreprise qui vend des automatisations n8n.\n\nAnalyse l'email suivant et classe-le dans UNE SEULE des catégories suivantes :\n- achat : le client vient d'acheter ou parle d'un achat, commande, paiement, livraison d'automation\n- bug : le client signale un problème technique, une erreur, un workflow qui ne fonctionne pas\n- question : le client pose une question sur un produit, un service, une fonctionnalité ou demande de l'aide\n- autre : tout ce qui ne rentre pas dans les catégories ci-dessus (newsletter, spam, partenariat, etc.)\n\nEmail à analyser :\nExpéditeur : {{ $json.from }}\nSujet : {{ $json.subject }}\nContenu : {{ $json.text ? $json.text.substring(0, 500) : $json.snippet }}\n\nRéponds UNIQUEMENT avec l'un de ces quatre mots exacts (en minuscules, sans ponctuation) :\nachat\nbug\nquestion\nautre",
        "messages": {
          "messageValues": [
            {
              "message": "Tu es un assistant de triage d'emails. Tu dois classifier chaque email avec précision en utilisant uniquement les catégories autorisées. Ta réponse doit être un seul mot parmi : achat, bug, question, autre."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [-240, 300],
      "id": "b1c2d3e4-0003-4000-8000-000000000003",
      "name": "Classifier l'email"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-160, 520],
      "id": "b1c2d3e4-0004-4000-8000-000000000004",
      "name": "OpenAI GPT-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "achat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "achat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "bug",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bug"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "autre",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "autre"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [0, 300],
      "id": "b1c2d3e4-0005-4000-8000-000000000005",
      "name": "Router par catégorie"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "labelIds": ["Support/Achat"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [240, 60],
      "id": "b1c2d3e4-0006-4000-8000-000000000006",
      "name": "Label - Achat",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "labelIds": ["Support/Bug"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [240, 220],
      "id": "b1c2d3e4-0007-4000-8000-000000000007",
      "name": "Label - Bug",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "labelIds": ["Support/Question"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [240, 380],
      "id": "b1c2d3e4-0008-4000-8000-000000000008",
      "name": "Label - Question",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "labelIds": ["Support/Autre"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [240, 540],
      "id": "b1c2d3e4-0009-4000-8000-000000000009",
      "name": "Label - Autre",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "message": "Bonjour,\n\nMerci pour votre achat ! Votre automation sera livrée sous 24h.\n\nSi vous avez des questions concernant votre commande, n'hésitez pas à nous contacter.\n\nCordialement,\nL'équipe Support",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 60],
      "id": "b1c2d3e4-0010-4000-8000-000000000010",
      "name": "Réponse - Achat",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "message": "Bonjour,\n\nMerci de nous avoir contacté. Notre équipe examine votre problème.\n\nNous vous tiendrons informé(e) dès que nous aurons identifié une solution.\n\nCordialement,\nL'équipe Support",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 220],
      "id": "b1c2d3e4-0011-4000-8000-000000000011",
      "name": "Réponse - Bug",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "message": "Bonjour,\n\nMerci pour votre question. Nous vous répondons sous 48h.\n\nEn attendant, vous pouvez consulter notre documentation disponible sur notre site.\n\nCordialement,\nL'équipe Support",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 380],
      "id": "b1c2d3e4-0012-4000-8000-000000000012",
      "name": "Réponse - Question",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Chercher emails non lus').item.json.id }}",
        "message": "Bonjour,\n\nMerci pour votre message. Nous vous répondons bientôt.\n\nCordialement,\nL'équipe Support",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 540],
      "id": "b1c2d3e4-0013-4000-8000-000000000013",
      "name": "Réponse - Autre",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Toutes les 30 minutes": {
      "main": [
        [
          {
            "node": "Chercher emails non lus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chercher emails non lus": {
      "main": [
        [
          {
            "node": "Classifier l'email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier l'email": {
      "main": [
        [
          {
            "node": "Router par catégorie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier l'email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Router par catégorie": {
      "main": [
        [
          {
            "node": "Label - Achat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label - Bug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label - Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label - Autre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label - Achat": {
      "main": [
        [
          {
            "node": "Réponse - Achat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label - Bug": {
      "main": [
        [
          {
            "node": "Réponse - Bug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label - Question": {
      "main": [
        [
          {
            "node": "Réponse - Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label - Autre": {
      "main": [
        [
          {
            "node": "Réponse - Autre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "05000000-0000-4000-8000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "workflow-05-support-client",
  "tags": [
    {
      "createdAt": "2026-05-29T09:00:00.000Z",
      "updatedAt": "2026-05-29T09:00:00.000Z",
      "id": "tag-support",
      "name": "support-client"
    }
  ]
}
