04-tri-gmail/workflow.json
{
  "name": "Mail digest tri",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3e07d90f-a130-42d9-a289-80e913330b11",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DEmYaJn2VI7htLjK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ec02448-418b-4905-bc7a-a53ea4f16651",
              "leftValue": "={{ $json.From }}",
              "rightValue": "lilian perfetti <lilianperfetti@gmail.com>",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "10e3089b-1444-4c8c-8a69-5a1587a8d4a5",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_69058657100849720"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "adaac9a5-ab8c-4661-9438-4e2bd86c775c",
      "name": "Add label to message",
      "webhookId": "a2839981-e19c-4771-984c-201cd33fe964",
      "credentials": {
        "gmailOAuth2": {
          "id": "DEmYaJn2VI7htLjK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18402e3a-6bdd-482c-995d-179cb505ec78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bc7563cbc54a8db245f2e90f65864281801ec7f9f6521dace0689d4e68030bc"
  },
  "id": "3N80bK--6fLc8jAnBmisy",
  "tags": []
}