01-digest-ia/workflow.json
{
  "name": "digest mail",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article à résumer:{{ $('RSS Read').item.json.title }}",
        "messages": {
          "messageValues": [
            {
              "message": "Tu es un journaliste tech spécialisé en veille technologique, concis et direct.\nTu dois résumer un article sur la tech de la manière la plus concise possible.\nContraintes:\n1)Le texte que tu rédigeras devra être le plus compact possible  (maximum 2-3 lignes)\n2)Il devra résumer les news reçues sans prendre d'élément extérieur à celle-ci\n3)Toute info non sûre ne devra pas être rapportée\n4) Si l'article n'est pas un article tech ou que tu n'as pas les infos nécessaire retourne \"SKIP\" et rien d'autre\n5)revérifie toujours avant d'envoyer que les 5 contraintes précédentes sont toujours respectées\nObjectif:\nà la fin je voudrais avoir un texte récapitulatif comme le ferait les plus grands journaliste spécialisée en tech"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        320,
        336
      ],
      "id": "de55bfd2-3edf-4c59-9d92-7f4a99be992a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        400,
        560
      ],
      "id": "b2569081-b78d-4af9-a2b5-a6d6fd848ed1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "huFvMBLRgQySHgR4",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -128,
        336
      ],
      "id": "2806c982-a798-4c92-b02e-fe0f034a4b36",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        96,
        336
      ],
      "id": "d798f7ce-df66-477f-9bbb-554b517feb16",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        336
      ],
      "id": "414a083a-f77b-4f8e-8361-1e29bfef7ea1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const tab=[]\nfor (const item of items) {\n  const texte=item.json.text\n  if (texte!=\"SKIP\"){\n    tab.push(texte)\n  }\n}\nconst message=tab.join(\"\\n\\n\")\nreturn [{json:{message}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        336
      ],
      "id": "d2f20372-fb17-496d-9aa8-7931402fecae",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "lilianperfetti@gmail.com",
        "subject": "Digest hebdomadaire tech",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        336
      ],
      "id": "bf5d9d67-a1bf-46c2-bd22-0bf4fbfa6eaa",
      "name": "Send a message",
      "webhookId": "1e795d3a-5559-4d37-b612-8e683819c630",
      "credentials": {
        "gmailOAuth2": {
          "id": "DEmYaJn2VI7htLjK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "12ac941a-63ad-4357-89dd-cd967ef6ef00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bc7563cbc54a8db245f2e90f65864281801ec7f9f6521dace0689d4e68030bc"
  },
  "id": "OrOdOcYKYFBTB13X1sxvv",
  "tags": []
}