01-bot-veille-rss/workflow.json
{
  "name": "Bot de veille",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3a720acf-3e54-43cf-b6de-cdb573a66904",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "bf9f439a-36c9-400a-90a7-2e5a2683efb9",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "6a2269ac-425b-4b85-b7f4-3492ac2f6d40",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called '\nconst tab=[]\nfor (const item of items) {\n  const titre=item.json.title\n  const lien=item.json.link\n  tab.push({titre,lien})\n}\nconst message=tab.map(article => `${article.titre}\\n${article.lien}`).join(\"\\n\\n\")\nreturn [{json:{message}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "7f59aeb9-64cd-4cdc-998e-fa879a40c925",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "5638695125",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "8f5f8824-c65c-48fa-9d6b-33f11f724d58",
      "name": "Send a text message",
      "webhookId": "eef7c2a5-95bf-4e3a-8c17-a91f70c9405b",
      "credentials": {
        "telegramApi": {
          "id": "QqyWPRtrtcoD2klm",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "10d5eb81-b758-4570-998b-af0eac47baa0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bc7563cbc54a8db245f2e90f65864281801ec7f9f6521dace0689d4e68030bc"
  },
  "id": "5p0K4eGZwZTnZQKCc1Pt7",
  "tags": []
}