02-alerte-crypto/workflow.json
{
  "name": "Alerte crypto",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "174642ef-55c3-49ea-b33e-46c68a79bac5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=eur",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "e228b810-d0fb-49df-a59c-8c180d8ca860",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f8baf5d8-2eba-4b18-8e15-1d80eabfa9aa",
              "leftValue": "={{ $json.bitcoin.eur }}",
              "rightValue": 60000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "9f2694c2-9842-436e-91db-a177fa95a967",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "=5638695125",
        "text": "=Prix actuel: {{ $json.bitcoin.eur }}€ \nSeuil dépassé: 60 000€",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -96
      ],
      "id": "7ac997aa-dc7f-4597-ad0b-34b99f2a3f09",
      "name": "Send a text message",
      "webhookId": "9957778f-8656-4b61-8de8-c97dd11f4805",
      "credentials": {
        "telegramApi": {
          "id": "QqyWPRtrtcoD2klm",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae738716-a84c-4aae-a1ce-4a9cf5f148e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1bc7563cbc54a8db245f2e90f65864281801ec7f9f6521dace0689d4e68030bc"
  },
  "id": "k87YzkGJn9C723vnY9reu",
  "tags": []
}